.content-img {
    height: 300px;
}

.form-input {
    border-top: 1px solid #ededed;
    padding-top: 20px;
}

#name,
#email,
#phone_number,
#postal_code,
#pref_id,
#city,
#building,
#town,
#password {
    border: none;
    background-color: white;
}
